TEST__ACCESS_TOKEN=
TEST__DEV1_TEST__CLIENT_ID=
TEST__DEV1_CLIENT_SECRET=
TEST__LELAB_TEST__CLIENT_ID=
TEST__LELAB_CLIENT_SECRET=
TEST__DEV_EUI=
TEST__DEV_EUI_MOBILE_APP=
TEST__DL_WEBHOOK=
TEST__NITAPIKEY=