TEST__TARGET=
TEST__DL_WEBHOOK=
TEST__NITAPIKEY=

TEST__MQTT_API_KEY=
TEST__MQTT_TOPIC_USER_ID=
TEST__MQTT_TOPIC_AS_ID=

TEST__ECOKC_ACCESS_TOKEN=
TEST__ECOKC_CLIENT_ID=
TEST__ECOKC_CLIENT_SECRET=
TEST__ECOKC_DEVEUI=

TEST__ECODX_ACCESS_TOKEN=
TEST__ECODX_CLIENT_SECRET=
TEST__ECODX_DEVEUI=

TEST__PREVKC_ACCESS_TOKEN=
TEST__PREVKC_CLIENT_ID=
TEST__PREVKC_CLIENT_SECRET=
TEST__PREVKC_DEVEUI=

TEST__PREVDX_ACCESS_TOKEN=
TEST__PREVDX_CLIENT_ID=
TEST__PREVDX_CLIENT_SECRET=
TEST__PREVDX_DEVEUI=
